{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Term Groups</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <a href="{{ url('new_sentence_group') }}" class="btn btn-small">New Group</a><br/><br/>
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th># Terms</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td class="center">{{ group.sentenceCount }}</td>
                        <td class="center">

                            <a class="btn btn-info" href="{{ url('edit_sentence_group', {'id': group.id}) }}">
                                <i class="halflings-icon white edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{{ url('delete_sentence_group', {'id': group.id}) }}">
                                <i class="halflings-icon white trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!--/span-->

    </div><!--/row-->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Terms</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <a href="{{ url('new_sentence') }}" class="btn btn-small">New Term</a><br/><br/>
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Group(s)</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sentence in sentences %}
                        <tr>
                            <td>{{ sentence.content }}</td>
                            <td class="center">{{ sentence.groupString }}</td>
                            <td class="center">

                                <a class="btn btn-info" href="{{ url('edit_sentence', {'id': sentence.id}) }}">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                <a class="btn btn-danger" href="{{ url('delete_sentence', {'id': sentence.id}) }}">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!--/span-->

    </div><!--/row-->
{% endblock %}
